
body {
  font-size: 16;
  font-weight: 700;
  padding-top: 70px;
}

.jumbotron, navbar-nav a:hover{
    background-color: #006400;
    color: #ffffff!important;
}



.img-space {min-height:150px; min-width: 150px;}
.img-main {max-height: 150px; max-width: 150px; padding:10px;}

.grid-item { width: 175px; border:5px solid #000000; border-radius: 10px; margin:10px; }


#images {padding-top:20px;}
.delete-link {cursor: pointer; font-weight:900; padding:5px; }
.delete-link:hover{background-color:#ff0000;  color: #ffffff;
    text-decoration: none;}
.delete-link a {
    padding: 5px;
}

.delete-link a:hover {
    color: #ffffff;
    text-decoration: none;
   
}
