
body {
  font-size: 16;
  font-weight: 700;
  padding-top: 70px;
}

.img-space {min-height:85px; min-width: 85px;}
.img-main {max-height: 150px; max-width: 150px; padding:10px;}

.grid-item { width: 195px; border:5px solid #000000; border-radius: 10px; }
.grid-item--width2 { width: 400px; }

#images {padding-top:20px;}
.delete-link {cursor: pointer; font-weight:900; padding:5px; }
.delete-link:hover{background-color:#ff0000;  color: #ffffff;
    text-decoration: none;}
.delete-link a {
    padding: 5px;
}

.delete-link a:hover {
    color: #ffffff;
    text-decoration: none;
   
}
